@use '/src/styles/styles' as *;

.todo-form-container {
  display: flex;
  border-bottom: 2px solid rgba(79, 77, 74, 0.3);
}

.todo-form__input {
  @extend %todo-input;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  &:hover {
    background-color: rgba(197, 194, 190, 0.1);
  }
  &:focus {
    background-color: rgba(79, 77, 74, 0.1);
    flex-grow: 1;
  }
}

.todo-form__add-btn {
  @include todo-item-btn(
    'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTY0IDMyQzI4LjcgMzIgMCA2MC43IDAgOTZWNDE2YzAgMzUuMyAyOC43IDY0IDY0IDY0SDM4NGMzNS4zIDAgNjQtMjguNyA2NC02NFY5NmMwLTM1LjMtMjguNy02NC02NC02NEg2NHpNMjAwIDM0NFYyODBIMTM2Yy0xMy4zIDAtMjQtMTAuNy0yNC0yNHMxMC43LTI0IDI0LTI0aDY0VjE2OGMwLTEzLjMgMTAuNy0yNCAyNC0yNHMyNCAxMC43IDI0IDI0djY0aDY0YzEzLjMgMCAyNCAxMC43IDI0IDI0cy0xMC43IDI0LTI0IDI0SDI0OHY2NGMwIDEzLjMtMTAuNyAyNC0yNCAyNHMtMjQtMTAuNy0yNC0yNHoiLz48L3N2Zz4=',
    rgba(231, 148, 3, 1),
    rgba(231, 148, 3, 1),
    1em
  );
  width: 1em;
  & button {
    background-color: rgba(231, 148, 3, 0.8);
  }
}
