@use '/src/styles/styles' as *;

.todos-list {
  @include container(scroll);
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  max-height: 80vh;
}
